{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h2>Все новости</h2>
<h6>Количество новостей: {{ posts | length }}</h6>
<hr>
    {% if posts %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Статья
                </td>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.title|censor }}
                </td>
                <td>
                    {{ post.create_date|date:'d.M.Y' }}
                </td>
                <td>
                    {{ post.post|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}