<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <h2>Здравствуй, {{ subscriber.username }}. Новая статья в твоей любимой категории '{{ category.category }}'!</h2>
        {% if posts %}
        <table>
            <thead>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата публикации
                </th>
                <th>
                    Статья
                </th>
            </thead>
        {% for post in posts %}
            <tr>
                <td>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </td>
                <td>
                    {{ post.create_date|date:'d.M.Y' }}
                </td>
                <td>
                    {{ post.post|truncatechars:50 }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

<!--    <h3> {{ post.title }} </h3>-->
<!--    <p> {{ post.post|truncatechars:50 }} </p>-->

<!--    <h6> Для просмотра полной статьи перейдите по <a href="{{ post.get_absolute_url }}">ссылке</a></h6>-->
</body>
</html>