{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h2>Поиск новостей</h2>
<h6>Количество новостей: {{ filter.qs | length }}</h6>
<hr>
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
    </form>
    {% if filter.qs %}
        {% if filter.form.category.value and user.is_authenticated%}
            <form action="subscribe" method="post">
                {% csrf_token %}
                <label for="subscribe">Выбрана категория: </label>
                <input id="subscribe" type="hidden" name="subscribe" value="{{ filter.form.category.value }}">{{ filter.form.category.value }}</input>
                <input type="submit" value="Подписаться">
            </form>

        {% endif %}
        <table>
            <thead>
                <th>Действия</th>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата публикации
                </th>
                <th>
                    Статья
                </th>
                <th>
                    Категории
                </th>

            </thead>
        {% for post in filter.qs %}
            <tr>
                <td>
                    <a href="{% url 'post_update' post.id %}"><u> Редактировать </u></a>
                    <a href="{% url 'post_delete' post.id %}"><u> Удалить </u></a>
                </td>

                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title|censor }}</a>
                </td>
                <td>
                    {{ post.create_date|date:'d.M.Y' }}
                </td>
                <td>
                    {{ post.post|truncatechars:50|censor }}
                </td>
                <td>
                    {% for cat in post.category.all %}
                        {{ cat.category }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

{% endblock content %}